@import "reset.css";
:root {
    --first-color-fon: #F2F2F2;
    --second-color-fon: #E3E3E3;
    --text-color: #484848;
    --white-color: #fff;
    --header-color-fon: #FAFAFA;
    --fon: #3A4965;
    --bgc-table: #DDDDDD;
}
.wrapper {
    height: max-content;
    background: var(--fon);
    margin: 0 auto;
    padding-top: 22px;
    padding-bottom: 32px;
}
table {
    background: var(--bgc-table);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
    border-spacing: 2px 0px;
    margin: 0 auto;
}

.text-thead-btn {
    font-family: 'Arimo', sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}
.main-text {
    font-family: 'Arimo', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--text-color);
}
.amount {
    font-weight: 700;
    font-size: 60px;
    line-height: 28px;
    vertical-align: top;
    position: relative;
}
.heading {
    background: var(--header-color-fon);
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: var(--text-color);
}
#second-row-heading {
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.mode {
    width: 280px;
    height: 73px;
    font-size: 24px;
    line-height: 28px;
    color: var(--white-color);
    text-align: center;
}
#standard {
    background: #89C331;
}
#ultimate {
    background: #F04A56;
}
#premium {
    background: #20807C;
}
.price {
    width: 280px;
    height: 89px;
    background: var(--header-color-fon);
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}
.amount::after {
    content: ".99";
    position: absolute;
    font-size: 24px;
    line-height: 28px;
    top: -6px;
}
.coins {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
.topic {
    height: 72px;
    font-size: 16px;
    line-height: 16px;
    align-items: center;
    text-align: center;
}
.topic img {
    vertical-align: bottom;
    padding-right: 4px;
}
table tr:nth-child(2n) {
    background: var(--first-color-fon);
}
table tr:nth-child(odd) {
    background: var(--second-color-fon);
}
.button-contact {
    width: 314px;
    padding: 29px 59.5px 26px 59.5px;
    position: relative;
}
.button-buy {
    width: 280px;
    padding: 29px 44px 26px 44px;
    position: relative;
}
[class*="btn-"]{
    width: 192px;
    height: 52px;
    font-size: 16px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    color: var(--white-color);
    cursor: pointer;
}
.btn-contact, .btn-standard-buy, .btn-ultimate-buy, .btn-premium-buy {
    border-radius: 0px 0px 5px 5px;
}
.btn-contact {
    background: var(--text-color);
}
.btn-standard-buy {
    background: #89C331;
}
.btn-ultimate-buy {
    background: #F04A56;
}
.btn-premium-buy {
    background: #20807C;
}
.btn-contact::before, .btn-contact::after {
    content: "";
    position: absolute;
    left: 59px;
    height: 9px;
    width: 192px;
    bottom: 27px;
    background-color: #404040;
    border-radius: 0px 0px 5px 5px;
}
.btn-standard-buy::before, .btn-standard-buy::after {
    content: "";
    position: absolute;
    left: 45px;
    height: 9px;
    width: 191px;
    bottom: 27px;
    background: #79B027;
    border-radius: 0px 0px 5px 5px;
}
.btn-ultimate-buy::before, .btn-ultimate-buy::after {
    content: "";
    position: absolute;
    left: 45px;
    height: 9px;
    width: 191px;
    bottom: 27px;
    background: #DF3A46;
    border-radius: 0px 0px 5px 5px;
}
.btn-premium-buy::before, .btn-premium-buy::after {
    content: "";
    position: absolute;
    left: 45px;
    height: 9px;
    width: 191px;
    bottom: 27px;
    background: #16736F;
    border-radius: 0px 0px 5px 5px;
}